<section class="market-ribbon panel" aria-label="סטטוס נתוני שוק">
  <div class="market-ribbon__status">
    <span class="market-dot" data-field="dot"></span>
    <span data-field="state">--</span>
  </div>
  <dl class="market-ribbon__metrics">
    <div>
      <dt>USD/ILS</dt>
      <dd data-field="fx">--</dd>
    </div>
    <div>
      <dt>עודכן</dt>
      <dd data-field="updated">--</dd>
    </div>
    <div>
      <dt>מקור</dt>
      <dd data-field="source">--</dd>
    </div>
  </dl>
</section>
